<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'fonts/fontawsome/css/all.css' )}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/reset.css' )}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/global.css' )}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/main.css' )}}">
    <title>Sách</title>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div class="container">
                <div class="logo text-center">
                    <img src="{{url_for('static',filename = 'images/logo.jpg' )}}" alt="logo" class="w-h">
                </div>
                <!-- end logo -->
            </div>
            <div>
                <ul id="main-menu" class="d-flex container justify-content-between">
                    <li><a href=""><i class="fa-solid fa-house-user"></i><br>Trang chủ</a></li>
                    <li><a href="cd"><i class="fa-solid fa-camera-retro"></i><br>Chuẩn đoán</a></li>
                    <li><a href="book"><i class="fa-solid fa-book"></i><br>Sách</a></li>
                </ul>
            </div>
        </div>
        <!-- end header -->
        <div class="container">
            <div id="content">
                <div class="box new-post">
                    <div class="box-head">
                        <h3>SÁCH</h3>
                    </div>
                    <div class="container list-book">
                        <div class="logo text-center ">
                            <img src="{{url_for('static',filename = 'images/book1.jpg' )}}" alt="book">
                            <div class="width-250"> <br>
                                <p>KỸ THUẬT TRỒNG CÀ CHUA, DƯA CHUỘT <br>
                                    Tác giả: Dương Bá Thảo</p>
                            </div>
                        </div>
                        <div class="logo text-center ">
                            <img src="{{url_for('static',filename = 'images/book2.jpg' )}}" alt="book">
                            <div class="width-250"> <br>
                                <p>KỸ THUẬT CHỌN GIỐNG, CHĂM SÓC VÀ PHÒNG BỆNH CHO CÂY CÀ CHUA <br>
                                    Tác giả: Dương Phong</p>
                            </div>
                        </div>
                        <div class="logo text-center">
                            <img src="{{url_for('static',filename = 'images/book3.jpg' )}}" alt="book">
                            <div class="width-250"> <br>
                                <p>KỸ THUẬT TRỒNG CÀ CHUA <br>
                                    Tác giả: KS.Nguyễn Văn Tiến</p>
                            </div>
                        </div>
                        <div class="logo text-center ">
                            <img src="{{url_for('static',filename = 'images/book4.jpg' )}}" alt="book">
                            <div class="width-250"> <br>
                                <p>KỸ THUẬT TRỒNG VÀ CHĂM SÓC CÀ CHUA <br>
                                    Tác giả: KS.Thái Hà - KS.Đặng Mai</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
</body>

</html>